nav{
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #fff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;

}
nav span{
  font-family: 'Bungee';
  font-size: 30px;

}
nav div p{
  text-align: center;
  margin: 0px;
}
nav .fas{
  color: #FF0000;

}